.frame-schedule-section-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame-schedule-section-frame-schedule-section {
  width: 1440px;
  height: 4377px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.frame-schedule-section-body {
  gap: 48px;
  top: 85px;
  left: 0px;
  width: 1440px;
  height: 4028px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.frame-schedule-section-functions-section {
  top: 35px;
  left: 25px;
  width: 1379px;
  height: 3754px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-schedule-section-slide211 {
  top: 2193px;
  left: 15px;
  width: 1350px;
  height: 724px;
  position: absolute;
}
.frame-schedule-section-text {
  top: 2980px;
  left: 127px;
  color: rgba(113, 113, 113, 1);
  width: 1138px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-schedule-section-slide401 {
  top: 3077px;
  left: 21px;
  width: 1350px;
  height: 677px;
  position: absolute;
}
.frame-schedule-section-slide202 {
  top: 1440px;
  left: 16px;
  width: 1336px;
  height: 690px;
  position: absolute;
}
.frame-schedule-section-slide191 {
  top: 730px;
  left: 16px;
  width: 1347px;
  height: 688px;
  position: absolute;
}
.frame-schedule-section-slide451 {
  top: 0px;
  left: 0px;
  width: 1379px;
  height: 685px;
  position: absolute;
}
.frame-schedule-section-frame {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-neutral-silver);
}
.frame-schedule-section-group2228 {
  top: 30px;
  left: 481px;
  width: 752px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-schedule-section-heading-name {
  gap: 50px;
  top: 0px;
  left: 0px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.frame-schedule-section-headermenu-default {
  gap: 10px;
  display: flex;
  align-items: center;
}
.frame-schedule-section-text02 {
  color: var(--dl-color-text-gray900);
  height: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.frame-schedule-section-menu-item-default {
  gap: 10px;
  display: flex;
  align-items: center;
}
.frame-schedule-section-text04 {
  color: var(--dl-color-text-gray900);
  height: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.frame-schedule-section-menu-item-default1 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.frame-schedule-section-text06 {
  color: var(--dl-color-text-gray900);
  height: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.frame-schedule-section-menu-item-default2 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.frame-schedule-section-text08 {
  color: var(--dl-color-text-gray900);
  height: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.frame-schedule-section-menu-item-default3 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.frame-schedule-section-text10 {
  color: var(--dl-color-text-gray900);
  height: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.frame-schedule-section-menu-item-default4 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.frame-schedule-section-text12 {
  color: var(--dl-color-text-gray900);
  height: auto;
  text-align: left;
  line-height: 24px;
  text-decoration: none;
}
.frame-schedule-section-logo {
  gap: 8px;
  top: 30.5px;
  left: 20.745208740234375px;
  width: 323px;
  display: flex;
  position: absolute;
  align-items: center;
}
.frame-schedule-section-navlink {
  display: contents;
}
.frame-schedule-section-logo21 {
  width: 39px;
  height: 23px;
  text-decoration: none;
}
.frame-schedule-section-text14 {
  color: rgba(38, 50, 56, 1);
  width: 276px;
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-schedule-section-footer {
  top: 4114px;
  left: 0px;
  width: 1440px;
  height: 283px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-schedule-section-footer-big4 {
  gap: 125px;
  width: 1440px;
  display: flex;
  padding: 64px 165px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-neutral-black);
}
.frame-schedule-section-company-info {
  gap: 40px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.frame-schedule-section-logo1 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.frame-schedule-section-navlink1 {
  display: contents;
}
.frame-schedule-section-logo211 {
  width: 39px;
  height: 23px;
  text-decoration: none;
}
.frame-schedule-section-text16 {
  color: rgba(255, 255, 255, 1);
  width: 276px;
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-schedule-section-copyright {
  gap: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.frame-schedule-section-text18 {
  color: var(--dl-color-neutral-silver);
  width: 350px;
  height: auto;
  text-align: left;
  line-height: 20px;
}
.frame-schedule-section-social-links {
  gap: 16px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}
.frame-schedule-section-link {
  display: contents;
}
.frame-schedule-section-social-icons {
  width: 32px;
  height: 32px;
  text-decoration: none;
}
.frame-schedule-section-links {
  gap: 30px;
  width: 616px;
  display: flex;
  z-index: 1;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-schedule-section-col1 {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.frame-schedule-section-text20 {
  color: var(--dl-color-neutral-white);
  width: 160px;
  height: auto;
  text-align: left;
  line-height: 28px;
}
.frame-schedule-section-list-items {
  gap: 12px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.frame-schedule-section-text22 {
  color: var(--dl-color-neutral-silver);
  width: 160px;
  height: auto;
  text-align: left;
  line-height: 20px;
}
.frame-schedule-section-col2 {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
